extends layout

block content
  // Customer comments page with form and comment display area
  section.page-section
    h1 Customer Comments
    p Share your experience with Downtown Donuts.

    // Form where customers submit a name and comment
    form#commentForm.comment-form
      label(for="name") Name
      input#name(type="text", name="name", maxlength="40")

      label(for="message") Comment
      textarea#message(name="message", maxlength="500")

      button.button(type="submit") Submit Comment

    p#error.error-message

    h2 Recent Comments
    // Comments are loaded here by comments.js
    div#comments.comment-list

    button#loadMore.load-more(type="button") Load More

  script(src="/javascripts/comments.js")